body{
margin:0;
font-family:Arial;
background: #f4f4f4;
}

nav{
display:flex;
justify-content:space-between;
background:#111;
padding:15px 50px;
}

.logo{
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.projects{
text-align:center;
padding:60px;
margin-top: 80px;
}

.project-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.card{
background:pink;
padding:20px;
width:250px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
}

.card a{
display:inline-block;
margin-top:10px;
text-decoration:none;
color:white;
background:black;
padding:8px 15px;
border-radius:5px;
}

.card:hover{
background: plum;
color: white;
padding: 40px;
}

/* Responsive Design */
@media(max-width:768px){

header{
flex-direction:column;
}

header ul{
margin-top:10px;
}

.project-container{
grid-template-columns:2fr;
grid-template-rows:3fr;
}

}
